html,body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #eee;
    border: 5px solid #aaa;
    width: 650px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

p {
    color:red;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: blue;
    text-shadow: 3px 1px 1px #666;
    text-align: center;
    letter-spacing: 1;
    line-height: 2;
}
img {
    display: block;
    margin: 0 auto;
    height: 20%;
    width: auto;
}

.container {
    height: 100%;
}